.pokemon__container {
  display: grid;
  grid-template-rows: repeat(30%, 70%);
  border: 1px solid black;
  border-radius: 2rem;
}

.pokemon__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon__name {
  font-size: 2.4rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.pokemon__stats {
  border: 1px solid black;
  border-radius: 2rem;
  background-color: white;
}
.pokemon__stats-name {
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.pokemon__stat {
  margin: 0 auto;
}

.pokemon__types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__type-item {
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  padding: 0.5rem 1.2rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin-right: 0.2rem;
  margin-top: 1rem;
  &:last-child {
    margin-right: none;
  }
}

.pokemon__stat-number {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bolder;
}
