html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
}
.contenedor {
  width: 90%;
  margin: 0 auto;
}

.nav {
  background-color: rgb(214 57 46);
  margin-bottom: 1rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
  &:hover {
    text-decoration: none;
    color: darken($color: white, $amount: 2);
    cursor: pointer;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.arrow {
  background: none;
  font-size: 1.5rem;
  border: none;
}

.Loading {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.Loading > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
}
.Loading .Loading__dot-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loading .Loading__dot-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
